---
import Meta from '../components/meta.astro'
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<Meta title='Hello world' description="It's a page about my hobby"></Meta>
</head>
<body>
	<h1>Hello world...</h1>
</body>
</html>